div {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    padding: 30px;
}

.container{
    border-color: blue;
}

.row{
    border-color: red;
}

#h1{
    background-image: url("http://fc00.deviantart.net/fs71/i/2014/002/5/1/cm___gun_gale_online__ggo__by_riki_to_d6dlg7t_by_savageone666-d70lngq.jpg");
        background-repeat: no-repeat;
        background-size: 1370px;
        border-color: #269abc
}
